*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.todoBody{
    border: 5px solid #DF010E;
    width: 600px;
    min-height: 600px !important;
    border-radius: 5px;
}
.todoLogo{
    width: 240px;
    margin-bottom: 20px;
}

.todoSec{
    padding: 20px 10px 0 10px;
}

.fas{
    font-size: 20px;
    border: none;
    color: #DF010E;
    background: transparent;
    width: 110px;
    height: 45px;
}

.inpBtn{
    font-size: 28px;
}

.todoInp{
      width: 500px !important;
      height: 45px;
      border: none;
      font-size: 24px !important;
      font-weight: 600 !important;
      border-bottom: 2px solid #000;
      background-color: transparent;
}

.todoInp:focus{
    outline: transparent;
}


.listBox li{

    display: flex;
    margin: 5px 15px;
    width: 96% !important;
    border-bottom: 1px solid black;
    height: 50px;
    padding: 60px auto;
    position: relative;
    font-size: 20px;
}


.liBtnBox{
    position: absolute !important;
    top: 0px;
    right: 5px;
}


@media screen and (max-width: 768px){
    .todoBody{
        width: 550px;
    }
}


@media screen and (max-width: 576px){
    .todoBody{
        width: 100%;
    }

    .todoInp{
        width: 100% !important;
    }
}